.banner {
    position: relative;
    overflow: hidden;
    height: 160px;
    margin-bottom: 40px;
}

.banner-container {
    display: flex;
    gap: 24px;
    animation: scroll 30s linear infinite;
    width: max-content;
}

    .banner-container:hover {
        animation-play-state: paused;
    }

.finance-card {
    background: #1F2937;
    border-radius: 12px;
    padding: 16px;
    width: 240px;
    height: 130px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
   box-shadow: 0 10px 20px rgba(0, 0, 139, 0.3); 

}

    .finance-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 6));
    }
}
